.row {
  display: flex;
  flex-direction: row;
}

.header {
  background: #6945FF;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
  &__wrap {
    width: 96%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
  }
}
.content{
  font-family: 'Roboto', sans-serif;
}
.sidebar {
  background: #FFFFFF;
  width: 240px;
  &__heading {
    margin: 20px auto 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 30px;
    font-size: 14px;
    line-height: 16px;
    color: #6C7177;
  }
  &__avatar {
    margin-bottom: 30px;
  }
  &__link {
    font-size: 14px;
    line-height: 16px;
    color: #6C7177;
    text-decoration: none;
    padding: 15px;
    text-align: center;
    display: block;
    &:hover {
      background: rgba(162, 162, 162, 0.09);
    }
  }
}

.main {
  width: calc(100% - 240px);
  background: #EFEFEF;
  &__wrap {
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    margin: 3%;
    padding: 15px;
  }
  &__title {
    font-size: 24px;
    line-height: 30px;
    color: #4F5256;
    position: relative;
    margin-bottom: 8px;
    padding-bottom: 8px;
    &:after{
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      border: 1px solid #F0F0F0;
      width: 100%;
    }
  }
  &__button {
    background: #4CAF50;
    border-radius: 2px;
    font-size: 14px;
    line-height: 30px;
    color: #FFFFFF;
    padding: 3px 5px;
    border: none;
    align-self: flex-end;
  }
  &__name{
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    color: #212529;
  }
  &__line{
    position: relative;
    padding: 18px 0;
    margin-bottom: 18px;
    &:after{
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      border: 1px solid #F0F0F0;
      width: 100%;
    }
  }
  &__inner{
    justify-content: space-between;
    width: 100%;
  }
  &__info{
    font-size: 14px;
    line-height: 16px;
    color: #212529;
  }
  &__link{
    font-size: 14px;
    line-height: 16px;
    color: #212529;
    text-decoration: none;
    &:hover{
      color: #6945FF;
    }
  }
  &__action{
    justify-content: space-around;
  }

  &__modalAdd{
    position: absolute;
    top: -9999999px;
    left: -9999999px;
    opacity: 0;
    visibility: hidden;
    width: 0;
    height: 0;
    overflow: hidden;
  }
  &__add{
    display: flex;
    flex-direction: column;
    width: 320px;
    font-size: 16px;
    line-height: 19px;
    color: rgba(0, 0, 0, 0.64);
  }
  &__cancel{
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
    background: #F44336;
    border-radius: 4px;
    padding: 5px;
    border: none;
  }
  &__save{
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #555555;
    background: #EFEFEF;
    border-radius: 4px;
    border: none;
    padding: 5px;
  }
  &__subtitle{
    font-weight: bold;
    font-size: 27px;
    line-height: 32px;
    color: rgba(0, 0, 0, 0.65);
    margin-bottom: 20px;
    text-align: center;
    display: block;
  }
  &__item{
    width: 100%;
    margin-bottom: 10px;
    justify-content: space-between;
  }
}
.fancybox-overlay-fixed {
  position: absolute !important;
}
.main__inner th,
.main__inner td{
  width: 6%;
  text-align: center;
  word-wrap: break-word;

}
.main__inner th:first-child,
.main__inner td:first-child{
  width: 3%;
}
.st-key {
  font-weight:bold;
  font-size: 14px;
  line-height: 16px;
  color: #212529;
}